nick: dasbot
command_prefix: .
protocol: terminal # has xmpp right now
plugins: # plugins to load at start
 - Useless
rooms: # List of rooms
 - foo@conference.example.com
 - bar@conference.example.com
XMPP: # Config for the xmpp protocol
  jid: foo@example.com
  password: reallysecurepassword
  admins:
   - jid@jabber.example.com
   - jid2@jabber.example.com